<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Shit Done!</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="/images/1920-green-grass-field-with-blue-sky-ad-white-cloud-nature-landscape-background.jpg" alt="green field">
    <header>
        <nav>
            <img src="../images/list-check-solid.svg" alt="to-do logo">
            <ul>
                <li>Today</li>
                <li>Work</li>
            </ul>
        </nav>
    </header>
    <main>