<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Shit Done!</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <img src="../images/list-check-solid.svg" alt="to-do logo">
            <ul>
                <li>Today</li>
                <li>Work</li>
            </ul>
        </nav>
    </header>
    <main>