<%- include("partials/header.ejs")%>

<h1>19. Oktober 2023</h1>
<div class="tasks">
    <ul>
      <li class="task-item">
        <div class="unchecked-checkbox-outer">
          <div class="unchecked-checkbox-inner"></div>
        </div>  
        <p>Task 1</p>
      </li>
      <li class="task-item">
        <div class="unchecked-checkbox-outer">
          <div class="unchecked-checkbox-inner"></div>
        </div>  
        <p>Task 2</p>
      </li>
      <li class="task-item">
        <div class="unchecked-checkbox-outer">
          <div class="unchecked-checkbox-inner"></div>
        </div>  
        <p>Task 3</p>
      </li>
      <li class="task-item">
        <div class="unchecked-checkbox-outer">
          <div class="unchecked-checkbox-inner"></div>
        </div>  
        <p>Task 4</p>
      </li>
      <li class="task-item">
        <div class="unchecked-checkbox-outer">
          <div class="unchecked-checkbox-inner"></div>
        </div>  
        <p>Task 5</p>
      </li>
      <li class="task-item">
        <div class="unchecked-checkbox-outer">
          <div class="unchecked-checkbox-inner"></div>
        </div>  
        <p>Task 6</p>
      </li>
      <li class="task-item">
        <div class="unchecked-checkbox-outer">
          <div class="unchecked-checkbox-inner"></div>
        </div>  
        <p>Task 7</p>
      </li>
    </ul>
    <div class="task-input">
        <input type="text" name="task-name" placeholder="What's your today's goal?">
    </div>
    <div class="add-symbol">
      <div class="circle"></div>
      <div class="horizontal-line"></div>
      <div class="vertical-line"></div>
    </div>
</div>

<%- include("partials/footer.ejs")%>