<%- include("partials/header.ejs")%>

  <div class="main-wrapper">
    <h1>
      <% const date = new Date(); %> <% const option = {year: 'numeric', month:
      'long', day: 'numeric'} %> <%= new Intl.DateTimeFormat('de-DE',
      option).format(date) %>
    </h1>
    <div class="tasks">
      <ul>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>      <%# unchecked-checkbox-inner should be toggled to checked-checkbox-inner when clicking %>     
                                                              <%# checkbox and task name should be crossed %>
          </div>
          <p><%# Task name %></p>                             <%# Task name should be inserted after clicking add button %>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p<%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p<%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p<%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="checked-checkbox-inner"></div>
          </div>
          <p class="crossed"><%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="checked-checkbox-inner"></div>
          </div>
          <p class="crossed"><%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="checked-checkbox-inner"></div>
          </div>
          <p class="crossed"><%# Task name %></p>
        </li>
      </ul>
      <div class="task-input">
        <input
          type="text"
          name="task-name"
          placeholder="What's your today's goal?"
        />
        <div class="add-symbol">
          <div class="circle">
            <div class="horizontal-line"></div>
            <div class="vertical-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs")%>