<%- include("partials/header.ejs")%>

  <div class="today-tasks">
    <div class="today-title">
      <h1>
        Today's Tasks!
      </h1>
      <h2>
        <% const date = new Date(); %> <% const option = {year: 'numeric', month:
        'long', day: 'numeric'} %> <%= new Intl.DateTimeFormat('de-DE',
        option).format(date) %>
      </h2>
    </div>
    <div class="tasks">
      <ul>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p class="task-item1"></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p<%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p<%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p class="crossed"><%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p class="crossed"><%# Task name %></p>
        </li>
        <li class="task-item">
          <div class="unchecked-checkbox-outer">
            <div class="unchecked-checkbox-inner"></div>
          </div>
          <p class="crossed"><%# Task name %></p>
        </li>
      </ul>
      <form class="task-input" action="/" method="POST">
        <input
          id="todayTaskInput"
          type="text"
          maxlength="30"
          name="task-name"
          placeholder="What's your today's goal?"
        />
        <button type="submit" id="todaySubmit">
            <div class="horizontal-line"></div>
            <div class="vertical-line"></div>
        </button>
      </form>
    </div>
  </div>

<%- include("partials/work-tasks.ejs") %>

<%- include("partials/footer.ejs")%>