<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Shit Done!</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <img src="../images/list-check-solid.svg" alt="to-do logo">
            <ul>
                <li>Today</li>
                <li>Work</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-wrapper">
            <h1>19. Oktober 2023</h1>
            <div class="tasks">
                <ul>
                    <li class="task-item">Task 1</li>
                    <li class="task-item">Task 2</li>
                    <li class="task-item">Task 3</li>
                    <li class="task-item">Task 4</li>
                    <li class="task-item">Task 5</li>
                </ul>
                <div class="task-input">
                    <input type="text" name="task-name" placeholder="What is your goal for today?">
                </div>
                <div class="add-symbol">
                    <div class="circle"></div>
                    <div class="horizontal-line"></div>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Copyright © 2023</p>
    </footer>
</body>
</html>