<%- include("partials/header.ejs")%>

<div class="main-wrapper">
            <h1>19. Oktober 2023</h1>
            <div class="tasks">
                <ul>
                    <li class="task-item">Task 1</li>
                    <li class="task-item">Task 2</li>
                    <li class="task-item">Task 3</li>
                    <li class="task-item">Task 4</li>
                    <li class="task-item">Task 5</li>
                </ul>
                <div class="task-input">
                    <input type="text" name="task-name" placeholder="What's your today's goal?">
                </div>
                <div class="add-symbol">
                    <div class="circle"></div>
                    <div class="horizontal-line"></div>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>

<%- include("partials/footer.ejs")%>