<%- include("partials/header.ejs")%>

<div class="today-tasks">
  <div class="title">
    <h1>Work Tasks!</h1>
    <h2>
      <% const date = new Date(); %> <% const option = {year: 'numeric', month:
      'long', day: 'numeric'} %> <%= new Intl.DateTimeFormat('de-DE',
      option).format(date) %>
    </h2>
  </div>
  <div class="w-tasks">
    <ul>
      <% if (locals.workTasks) { %> <% workTasks.forEach(newWorkTask => { %>
      <li class="work-task-item">
        <input type="checkbox" class="work-checkbox" />
        <label class="work-task-label"> <%= newWorkTask %> </label>
      </li>
      <% }); %> <% } %>
    </ul>
    <form class="work-task-input" action="/work/submit" method="POST">
      <input
        id="workTaskInput"
        type="text"
        maxlength="30"
        name="work-task-name"
        placeholder="What's your today's goal?"
        required
      />
      <div class="submit-button">
        <input type="submit" />
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
      </div>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs")%>
