:root {
  /* Element Colors */
  --li-wht: #ffffff;
  --main-element-divs: hsla(0, 0%, 0%, 0.2);
  --text-boxes-wht: #ffffff;
  --unchkd-chkbox-outer: #97cde8;
  --unchkd-chkbox-inner: #ffffff;
  --chkd-chkbox-outer: #97cde8;
  --chkd-chkbox-inner: #0272a4;
  --addbox-circle: #97cde8;
  --addbox-x: #ffffff;

  /* Fonts Styling */
  /* Fonts Colors */
  --fc-wht: #ffffff;
  --fc-blk: #000000;

  /* Fonts Sizes */
  --fs-28: 1.75rem;
  --fs-24: 1.5rem;
  --fs-16: 1rem;

  /* Font Families */
  --ff-lobster: "Lobster";
  --ff-montserrat: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background-image: url(/images/1920-green-grass-field-with-blue-sky-ad-white-cloud-nature-landscape-background.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

li {
  list-style: none;
}

/* Header Element */
header {
  width: 100%;
  height: 4.1875rem;
  background-color: var(--main-element-divs);
}

nav {
  width: 100%;
  font-family: var(--ff-lobster);
  font-size: var(--fs-28);
  color: var(--fc-wht);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

header ul {
  max-width: 10.25rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

header svg {
  width: 2.1875rem;
  height: 1.9375rem;
  fill: white;
}

/* Main Styling */
.main-wrapper {
  height: 725px;
}

.main-wrapper {
  width: 21.6875rem;
  max-width: 21.6875rem;
  height: 34rem;
  max-height: 39.6875rem;
  background-color: var(--main-element-divs); /* change bg-color */
  font-family: var(--ff-montserrat);
  color: var(--fc-wht);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.0625rem;
}

main h1 {
  font-family: var(--ff-lobster);
  font-size: var(--fs-28);
}

.tasks {
  margin-block: 0.825rem;
  color: var(--fc-blk);
}

.task-item {
  width: 19.5625rem;
  height: 3rem;
  background-color: var(--text-boxes-wht);
  border-radius: 0.625rem;
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.unchecked-checkbox-outer {
  width: 1.475rem;
  height: 1.475rem;
  background-color: var(--unchkd-chkbox-outer);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.unchecked-checkbox-inner {
  width: 0.975rem;
  height: 0.975rem;
  background-color: var(--unchkd-chkbox-inner);
  border-radius: 50%;
  position: absolute;
}

.checked-checkbox-inner {
  width: 0.975rem;
  height: 0.975rem;
  background-color: var(--chkd-chkbox-inner);
  border-radius: 50%;
  position: absolute;
}

.crossed {
  text-decoration: line-through;
}

.task-input {
  width: 100%;
  height: 3.625rem;
  display: flex;
  background-color: var(--text-boxes-wht);
  border-radius: 0 0 0.625rem 0.625rem;
  justify-content: space-between;
  align-items: center;
}

.task-input input {
  width: 100%;
  height: 80%;
  margin-left: 1rem;
  border: none;
  font-size: var(--fs-16);
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--addbox-circle);
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-line {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--addbox-x);
}

.vertical-line {
  width: 0.25rem;
  height: 2rem;
  background-color: var(--addbox-x);
  position: absolute;
}

/* Footer Styling */
footer {
  width: 100%;
  height: 2rem;
  min-height: 2rem;
  background-color: var(--main-element-divs);
  bottom: 0;
  font-family: var(--ff-montserrat);
  font-size: 0.5rem;
  color: var(--fc-wht);
  display: flex;
  justify-content: center;
  align-items: center;
}
