:root {
  /* Element Colors */
  --li-wht: #ffffff;
  --main-element-divs: hsla(0, 0%, 0%, 0.2);
  --text-boxes-wht: #ffffff;
  --unchkd-chkbox-outter: #97cde8;
  --unchkd-chkbox-inner: #ffffff;
  --chkd-chkbox-outter: #97cde8;
  --chkd-chkbox-inner: #0272a4;
  --addbox-circle: #97cde8;
  --addbox-x: #ffffff;

  /* Fonts Styling */
  /* Fonts Colors */
  --fc-wht: #ffffff;
  --fc-blk: #000000;

  /* Fonts Sizes */
  --fs-28: 1.75rem;
  --fs-24: 1.5rem;
  --fs-16: 1rem;

  /* Font Families */
  --ff-lobster: "Lobster";
  --ff-montserrat: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > img {
  width: 100%;
  height: 100vh;
  position: absolute;
}

li {
  list-style: none;
}

/* Header Element */
header {
  height: 4.1875rem;
  background-color: var(--main-element-divs);
  position: relative;
}

nav {
  width: 100%;
  font-family: var(--ff-lobster);
  font-size: var(--fs-28);
  color: var(--fc-wht);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

header ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
}


header svg {
  width: 2.1875rem;
  height: 1.9375rem;
  fill: white;
}

footer {
  width: 100%;
  height: 2.625rem;
  background-color: var(--main-element-divs);
  position: absolute;
  bottom: 0;
  font-family: var(--ff-montserrat);
  color: var(--fc-wht);
  display: flex;
  justify-content: center;
  align-items: center;
}
